
#body-container{
  background-image: url("./images/solar-panels.jpg");
  background-size: 100px 100px;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat;
  background-color: rgba(160,160,160, 0.5);
}
#powerButton{
  width: 100%;
  height: auto;
}
#pb-link{
  text-align: center;
}
#nav-row{
  background-color: rgba(69, 69, 69, 0.5);
  width: 100%;
}
#block-quote{
  background-color: rgba(213,213,213,0.8);
}
#bs-tut{
  background-color: rgba(213,113,113,0.80);
}
